.display{
    display: flex;
}

.carousel_image img{
    max-height: 350px;
    min-width: 100%;
    filter: brightness(40%);

}
.carousel_image img{
    /* object-fit: contain !important; */
    min-width: 100% !important;
}