.orderbox{
    width: 18rem;
    max-height: 360px;
    border: 0.1px solid white;
    border-radius: 3px;
    padding: 1rem;
}

.design{
    margin: 1rem;
    margin-left: 2rem;
    color: whitesmoke;
}

.design_card{
    display: flex;
}

.display{
    display: flex;
}

.carousel_image img{
    max-height: 350px;
    min-width: 100%;
    filter: brightness(40%);

}
.carousel_image img{
    /* object-fit: contain !important; */
    min-width: 100% !important;
}

.buttonName{
    height: 40px;
    justify-content: center;
    align-items: center;
}
.search_button{
    height: 40px;
    color: white;
    background-color: seagreen;
    margin-left: 0.3rem;
}
