.orderbox{
    width: 18rem;
    max-height: 360px;
    border: 0.1px solid white;
    border-radius: 3px;
    padding: 1rem;
}

.design{
    margin: 1rem;
    margin-left: 2rem;
    color: whitesmoke;
}

.design_card{
    display: flex;
}